[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3-stubs = {extras = ["s3"], version = "*"}
boto3 = "==1.26.41"

[dev-packages]
autopep8 = "==2.0.1"
moto = "==4.0.12"
mypy = "==1.1.1"
pytest = "==7.2.0"


[requires]
python_version = "3.8"
